* {
  margin: 0;
  padding: 0;
}

:root {
  /*
   100% = 16px
   62.5% = 10px 
   */
  font-size: 62.5%;
}

body {
  height: 100vh;
  color: white;
}

body, input {
  font: 400 1.7rem/1.2 'Quicksand', sans-serif;
}

hgroup {
  color: #114B5F;
  font: 400 3rem/1 'Sansita Swashed', cursive;
  padding: 1rem;
}
