* {
  margin: 0;
  padding: 0;
}

:root {
  /*
   100% = 16px
   62.5% = 10px 
   */
  font-size: 62.5%;
}

body {
  height: 100vh;
  color: white;
}

body, input {
  font: 400 1.8rem/1.5 'Sansita Swashed', cursive;
}
