#page-landing {
  background: linear-gradient(330.20deg, #5DD39E 0%, #3BCEAC 100%);

  text-align: center;
  min-height: 100vh;

  display: flex;
}

#container {
   margin: auto;

   width: min(90%, 124rem);
}

.location, main h1, .visit p {
  height: 16vh;
}

#logo {
   animation-delay: 50ms;
}

.location {
   animation-delay: 100ms;
}

main h1 {
   animation-delay: 150ms;
   font-size: clamp(3.5rem, 4vw, 8rem); /* clamp(min, ideal, max) */
}

.visit p {
   animation-delay: 200ms;
}

.visit a {
   color: white;
   background: #0496ff;
   width: 8rem;
   height: 8rem;

   border: none;
   border-radius: 2rem;

   display: flex;
   align-items: center;
   justify-content: center;

   margin: auto;

   transition: background 300ms;

   animation-delay: 250ms;
}

.visit a:hover {
   background: #01baef;
}

/* desktop version */

@media (min-width: 760px) { /* Apenas se a largura é de 760px para mais, ai adiciona essas configurações */
   #container {
      padding: 5rem 2rem;
      /* shorthand background: image repeat position / size */
      background: url("../imagens/chinelo-branco-cortado.png") no-repeat 80% / clamp(20rem, 54vw, 50rem);
   }

   header {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .location, main h1, .visit p {
      height: initial;
      text-align: initial;
   }

   .location {
      text-align: right;
      font-size: 2.4rem;
      line-height: 1.5;
   }

   main h1 {
      font-weight: bold;
      line-height: 1;

      margin: clamp(10%, 9vh, 12%) 0 4rem;

      width: min(600px, 50%);
   }

   .visit {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .visit p {
      font-size: 2.4rem;
      line-height: 1.5;
      width: clamp(20rem, 30vw, 50rem);
   }

   .visit a {
      margin: initial;
   }
}

/* video 2 - 00:30:04 (Boa relaxada) */